body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #3f87a6, #ebf8e1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
  }
  
  .container {
    width: 80%;
    max-width: 1000px;
    padding: 20px;
    /* height: fit-content; */
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    text-align: center;
    color: #3f87a6;
  }
  
  label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #333;
  }
  
  input, select, textarea {
    width: 97%;
    padding: 10px;
    margin-top: 5px;
    
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  textarea {
    resize: none;
  }
  
  .example-btn-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #example-btn {
    background: #3f87a6;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  #example-btn:hover {
    background: #2f5d7d;
  }
  

  .terms {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.5;
  }
  
  .terms input {
    margin-right: 10px;
    width: auto; /* Ensures checkbox remains its natural size */
  }
  
  .terms a {
    color: #3f87a6;
    text-decoration: none;
  }
  
  .terms a:hover {
    text-decoration: underline;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  
  button {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
  }
  
  button[type="reset"] {
    background: #ccc;
    color: #333;
  }
  
  button[type="reset"]:hover {
    background: #bbb;
  }
  
  button[type="submit"] {
    background: #3f87a6;
    color: #fff;
  }
  
  button[type="submit"]:hover {
    background: #2f5d7d;
  }
  